.search-bar {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.search-bar-search {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.search-bar-search-input {
    flex-grow: 1;
}

.search-bar-search-button {
}

.search-bar-button {

}
