.header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    border: 2px solid #ff9696;
    border-radius: 1.5em;
    box-shadow: 0 0 5px #ff9696;
    padding: 1em 2em;

    position: relative;
}

.header-logo {
    flex-grow: 1;
    height: 3.5em;

}

.header-name {

}

.header-button {

}
